.header h1 {
  font-size: 4rem;
}

.header {
  background-color: var(--pjg-color-5);
  padding: 10px;
  text-align: center;
  color: var(--pjg-color-6);
  width: 100%;
}

@media screen and (max-width: 300px) {
  .header h1 {
    font-size: var(--pjg-size-3);
  }
}
