.juego {
  padding: var(--pjg-size-3);
  text-align: center;
}

.btn-cantar,
.btn-iniciar {
  margin: 0.5rem;
  padding: 0.7rem var(--pjg-size-1);
  border: none;
  border-radius: var(--pjg-size-1);
  background-color: var(--pjg-color-2);
  color: var(--pjg-color-6);
  font-weight: bold;
  cursor: pointer;
}

.btn-cantar:disabled {
  background-color: var(--pjg-color-4);
  cursor: not-allowed;
}

.numeros-cantados {
  margin: var(--pjg-size-1) 0;
}

.lista-numeros {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  justify-content: center;
}

.numero {
  background: var(--pjg-color-6);
  padding: 0.5rem;
  border-radius: 50%;
  width: var(--pjg-size-3);
  height: var(--pjg-size-3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carton {
  margin-top: var(--pjg-size-3);
  margin-bottom: var(--pjg-size-1);
}

.carton table {
  margin: 0 auto;
  border-collapse: collapse;
}

.carton td {
  border: 1px solid #000;
  padding: var(--pjg-size-1);
  width: var(--pjg-size-5);
  height: var(--pjg-size-5);
  font-size: var(--pjg-size-2);
  font-weight: bold;
}

.marcado {
  background-color: var(--pjg-color-3);
  color: var(--pjg-color-6);
}
